[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2 = "*"
django-environ = "*"
django-cors-headers = "*"
python-dateutil = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
flush = "python manage.py flush"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
seed = "python manage.py seed --mode=refresh"
server = "python manage.py runserver"
shell = "python manage.py shell"
static = "python manage.py collectstatic"
superuser = "python manage.py createsuperuser"
