[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-seed = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
server = "python manage.py runserver"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
superuser = "python manage.py createsuperuser"
flush = "python manage.py flush"
shell = "python manage.py shell"
static = "python manage.py collectstatic"
